*{
    margin: 0;
    padding: 0;
}

body{
    background: #252525;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    background: seashell;
    font-size: 3rem;
    width: 0;
    outline: none;
    padding-left: 15px;
    border: none;
    border-radius: 15px;
    transition: all .6s;

}

.icon{
    width: 60px;
    height: 60px;
    background: rgb(70, 197, 236);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #ffffff;
    cursor: pointer;
    transform: translateX(-30px) rotate(-45deg);
}

.active{
    display: block;
    width: 45%;
}

.filter{
    justify-content: center;
    text-align: center;
}

li{
    margin: 1.3rem !important;
    width: 60px !important;
    height: 60px !important;
    background: rgb(70, 197, 236) !important;
    border-radius: 40% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1.8rem;
    color: #ffffff !important;
    cursor: pointer !important;
}

.hide{
    display: none;
}